#root {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #CE2829;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 207px;
}

.bread-crumbs {
  position: relative;
  top: 50px;
  right: 170px;
}

.breadcrumb-link {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.breadcrumb-link:hover {
  color: #ff9800; /* Hover rengi */
}

.breadcrumb-link.active {
  color: white; /* Aktif rengi */
  font-weight: bold;
}

.order-container {
  flex: 1;
  font-family: "Barlow", serif;
  margin-top: 2rem;
  width: 540px;
}

@media (max-width: 768px) {
  .quantity-button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}


.container-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 2%;
  width: 100%; 
  height: 100vh;
}

.home-background{
  background-image: url("../images/iteration-1-images/home-banner.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.home-logo {
width: 360px;
}
.home-title{
    text-align: center;
    font-family: "Roboto Condensed", serif;
    font-weight: 300;
    font-size: 86px;
    color: white;
    width: 50%;
    margin: 2%;
}

.home-button{
  background-color: #fdc913;
  color: black;
  font-family: "Barlow";
  font-weight: 600;
  font-size: 18px;
  width: 193px;
  height: 56px;
  border-color: #fdc913;
  border-radius: 50px;
}

.home-button:hover{
  background-color: #FAF7F2;
  color: black;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
